@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:focus{
    outline: none;
}
html {
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color:#eceef2;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 16px;
}
.container{
    position: relative;
    height: 60%;
    width: 80%;
    border: 7px solid rgb(231, 14, 21);
    border-radius: 40px;
    box-shadow:40px 50px 20px rgb(121, 121, 121);
    background-image: url(index_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    margin-top: 20px;
    margin-left: 25px;
    
    
}
.nav{
    display: grid;
    grid-template-columns: 2fr 4fr;
    width: 69%;  
    column-gap: 30px;
    padding-bottom: 10px;
    border-bottom:2px solid #e0e5ec ;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: right;
    
}
li{
    
    padding-right: 25px;
}
.logo{
    font-weight: 900;
    font-size: 25px;
    color:rgb(190, 11, 11);
    margin-left: 25px;
}
li a{
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color:rgb(190, 11, 11);
    padding: 0 5px;
}
li a:after{
    content: "";
    position: absolute;
    background-color:#ec253c;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition:0.3s;
}
li a:hover:after,li a:focus:after{
    width:100%;
}
li a:hover,li a:focus{
 color:#ec253c;
}
.main-content-container{
    width: 40%;
    height: auto;
    position: absolute;
    top: 105px;
    left: 40px;
    color:#ec253c;
    
}

.title{
    font-weight: 600;
    font-size: 50px;
}

.text{
    margin-top: 10px;
    font-size:12px;
    width: auto;
}
.btn{
    max-width: 180px;
    margin-top: 5%;
    margin-left: 25%;
    padding: 20px;
    background-color: #ec253c;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: boxshadow,transform;
    transition-property:box-shadow,transform;
}
.btn a{
    color: #ffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

}
.btn:hover,.btn:active,btn:focus{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform:(1.1);

}
/* 
#eceef2 background 
#ffff main components
#ec253c red accents 
#e0e5ec grey accents
*/

@media screen and (max-width: 1450px){
    .title{
        
        font-size: 40px;
    }
    .text{
        font-size:10px;
        
    }
    li a{
        font-size: 14px;
    }
    .logo{
        font-size: 20px;
    }
    .btn{
        max-width: 100px;
    }
    
}
@media screen and (max-width: 1150px){
    .title{
        
        font-size: 30px;
    }
    .text{
        font-size:8px;
        
    }
    li a{
        font-size: 10px;
    }
    .logo{
        font-size: 18px;
    }
    .btn{
        max-width: 80px;
    }
    
}
